* {
  /* Just to get an idea of where the containers are */
  outline: 2px solid red;
}
:root {
  --color-primary: #D21F3C;
  --color-neutral-light: #F1F2F4;
  --color-neutral-dark: #1D1A20;
  --color-button-yellow: #FFD700;
}

@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaCondensed-Bold.ttf');
}

body {
  
  font-family: 'Saira', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #1D1A20;
  background-position: center;
  background-attachment: fixed;
}
.app-container {
  outline: 2px solid green;
  width: 200%;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.main-container {
  outline: 2px solid blue;
  width: 200%;
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 16px;
  margin-left: 5%;
  margin-right: 5%;
  
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}
.title-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #A01A30;
}
.form-container {
  
  /* min-width: fit-content; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 2%;
  padding-top: 1%;
  border-radius: 8px;
  background-color: #A01A30;
  margin: 2%;
}
.summary-container{

  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 2%;
  border-radius: 8px;
  background-color: #A01A30;
  margin: 2%;
}
.content-container {
  
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-radius: 8px;
}
.select-container {
  display: flex;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.select__control {
  background-color: #1D1A20b3 !important;
}
.select__single-value {
  color: #fff !important;
}
.select__option {
  
  background: #333;
}
.select__option--is-selected {
  background: #007bff;
  color: #fff;
}
.select__option--is-focused {
  background: #0056b3;
}

h1 {
    color: var(--color-neutral-light);
}
h2 {
  color: var(--color-neutral-light);
  text-align: center;
}