* {
  /* Just to get an idea of where the containers are */
  /* outline: 2px solid red; */
}
:root {
  --color-primary: #D21F3C;
  --color-neutral-light: #F1F2F4;
  --color-neutral-dark: #1D1A20;
  --color-button-yellow: #FFD700;
}

@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaCondensed-Bold.ttf');
}

body {
  font-family: 'Saira', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: var(--color-neutral-dark);
  background-position: center;
  background-attachment: fixed;
}

h1 {
    color: var(--color-neutral-light);
}
h2 {
  color: var(--color-neutral-light);
  text-align: center;
}